<div class="container">
<form [formGroup]="chauffeurForm" (ngSubmit)="onSubmit()">
  <label for="nom_complet">Nom Complet:</label>
  <input id="nom_complet" formControlName="nom_complet" required />
  <div *ngIf="chauffeurForm.get('nom_complet')?.invalid && chauffeurForm.get('nom_complet')?.touched">
    Nom requis
  </div>

  <label for="permis">Permis:</label>
  <input id="permis" formControlName="permis" required />
  <div *ngIf="chauffeurForm.get('permis')?.invalid && chauffeurForm.get('permis')?.touched">
    Permis requis
  </div>

  <label for="telephone">Téléphone:</label>
  <input id="telephone" formControlName="telephone" required />
  <div *ngIf="chauffeurForm.get('telephone')?.invalid && chauffeurForm.get('telephone')?.touched">
    Numéro de téléphone invalide (8 chiffres requis)
  </div>

  <button type="submit" [disabled]="chauffeurForm.invalid">Soumettre</button>
</form>
</div>
