/* Container global */
.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  font-family: Arial, sans-serif;
}

/* Titre du formulaire */
h2 {
  color: #3aa0cd;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Formulaire */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Labels */
label {
  font-weight: bold;
  margin-top: 10px;
  color: #333;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: all 0.3s ease-in-out;
}

input:focus {
  border-color: #4295C6;
  box-shadow: 0 0 5px rgb(58, 160, 205);
  outline: none;
}

/* Message d'erreur */
.error {
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
  width: 100%;
}

/* Bouton de soumission */
button {
  padding: 12px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  background-color: #3faad8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
  width: 100%;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

button:hover {
  background-color: #2f8db8;
}
.success-snackbar {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
  font-weight: bold;
}
