<div class="recherche">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Sélectionner un véhicule</mat-label>
    <mat-select [(ngModel)]="sortie">
      <mat-option [value]="null">Aucun</mat-option>
      <mat-option *ngFor="let sortie of sortiesFiltre" [value]="sortie">
        {{ sortie.affectation?.vehicule?.immatriculation }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div class="input">
    <label for="debut">Début</label>
    <input id="debut" type="datetime-local" [(ngModel)]="debut" name="debut">

    <label for="fin">Fin</label>
    <input id="fin" type="datetime-local" [(ngModel)]="fin" name="fin">
  </div>

  <div class="boutons">
    <button mat-flat-button (click)="rechercher(sortie,debut,fin)">
      <mat-icon>search</mat-icon><span>RECHERCHER</span>
    </button>
    <button mat-flat-button (click)="imprimer(sortie,debut,fin)">
      <mat-icon>print</mat-icon><span>IMPRIMER</span>
    </button>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
    <tr *ngIf="sorties && sorties.length>0">
      <th>Numéro</th>
      <th>Chauffeur</th>
      <th>Téléphone</th>
      <th>Véhicule</th>
      <th>Objet</th>
      <th>Lieu de départ</th>
      <th>Destination</th>
      <th>Départ</th>
      <th>Arrivée</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sortie of sorties; let i = index">
      <td> {{i+1}} </td>
      <td>{{ sortie.affectation?.chauffeur?.nom_complet }}</td>
      <td>{{ sortie.affectation?.chauffeur?.telephone }}</td>
      <td>{{ sortie.affectation?.vehicule?.immatriculation }}</td>
      <td>{{ sortie.objet }}</td>
      <td>{{ sortie.lieu_depart }}</td>
      <td>{{ sortie.destination }}</td>
      <td>{{ sortie.date_debut  ? ( sortie.date_debut  | date: 'dd/MM/yyyy HH:mm') : 'Non précisé' }}</td>
      <td>{{ sortie.date_fin ? (sortie.date_fin | date: 'dd/MM/yyyy HH:mm') : 'Non précisé' }}</td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="sorties && sorties.length === 0">
  <p >Aucune sortie trouvée !</p>
</div>
