<div class="recherche">

  <div class="input">
    <label for="debut">Début</label>
    <input id="debut" type="date" [(ngModel)]="debut" name="debut">

    <label for="fin">Fin</label>
    <input id="fin" type="date" [(ngModel)]="fin" name="fin">
  </div>

  <div class="boutons">
    <button mat-flat-button (click)="rechercherSortieDates(debut,fin)">
      <mat-icon>search</mat-icon><span>RECHERCHER</span>
    </button>
    <button mat-flat-button (click)="imprimerSortieDate(debut,fin)">
      <mat-icon>print</mat-icon><span>IMPRIMER</span>
    </button>
  </div>
</div>
<div class="filter-container">
  <input matInput type="text" [(ngModel)]="filterTerm" (input)="filterSortie()" placeholder="Rechercher"  />
</div>
<div class="container">
  <table class="table">
    <thead>
    <tr *ngIf="filtreSorties && filtreSorties.length>0">
      <th>Numéro</th>
      <th>Chauffeur</th>
      <th>Téléphone</th>
      <th>Véhicule</th>
      <th>Objet</th>
      <th>Lieu de départ</th>
      <th>Destination</th>
      <th>Départ</th>
      <th>Arrivée</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sortie of filtreSorties; let i = index">
      <td> {{i+1}} </td>
      <td>{{ sortie.affectation?.chauffeur?.nom_complet }}</td>
      <td>{{ sortie.affectation?.chauffeur?.telephone }}</td>
      <td>{{ sortie.affectation?.vehicule?.immatriculation }}</td>
      <td>{{ sortie.objet }}</td>
      <td>{{ sortie.lieu_depart }}</td>
      <td>{{ sortie.destination }}</td>
      <td>{{ sortie.date_debut  | date: 'dd/MM/yyyy' }}</td>
      <td>{{ sortie.date_fin  | date: 'dd/MM/yyyy' }}</td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="filtreSorties && filtreSorties.length === 0">
  <p >Aucune sortie trouvée !</p>
</div>
