<div class="recherche">
  <input type="date" [(ngModel)]="date">
  <div class="boutons">
    <button mat-flat-button (click)="rechercherSortieDate(date)">
      <mat-icon>search</mat-icon><span>RECHERCHER</span>
    </button>
    <button mat-flat-button (click)="imprimerSortieDate(date)">
      <mat-icon>print</mat-icon><span>IMPRIMER</span>
    </button>
  </div>
</div>
<div class="filter-container">
  <input matInput type="text" [(ngModel)]="filterTerm" (input)="filterSortie()" placeholder="Filtrer par nom, permis, téléphone ou date d'enregistrement"  />
</div>
<div class="container">
  <table class="table">
    <thead>
    <tr *ngIf="filtreSorties && filtreSorties.length>0">
      <th>Numéro</th>
      <th>Chauffeur</th>
      <th>Téléphone</th>
      <th>Véhicule</th>
      <th>Carburant / Litres</th>
      <th>Objet</th>
      <th>Lieu de départ</th>
      <th>Destination</th>
      <th>Départ</th>
      <th>Arrivée</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sortie of filtreSorties; let i = index">
      <td> {{i+1}} </td>

      <td>{{ sortie.objet }}</td>
      <td>{{ sortie.lieu_depart }}</td>
      <td>{{ sortie.destination }}</td>
      <td>{{ sortie.date_debut  | date: 'dd/MM/yyyy' }}</td>
      <td>{{ sortie.date_fin  | date: 'dd/MM/yyyy' }}</td>
      <td>
        <!-- Boutons d'actions -->
        <button mat-icon-button (click)="edit()">
          <mat-icon class="modifier">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete()">
          <mat-icon class="supprimer">delete</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="filtreSorties && filtreSorties.length === 0">
  <p >Aucune sortie trouvée !</p>
</div>
