<div *ngIf="chauffeurs && chauffeurs.length > 0" class="chauffeurs-container">
  <table class="chauffeurs-table">
    <thead>
    <tr>
      <th>Numéro</th>
      <th>Nom Complet</th>
      <th>Permis</th>
      <th>Téléphone</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let chauffeur of chauffeurs; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ chauffeur.nom_complet }}</td>
      <td>{{ chauffeur.permis }}</td>
      <td>{{ chauffeur.telephone }}</td>
      <td>{{ chauffeur.date }}</td>
    </tr>
    </tbody>
  </table>
</div>
