/* Conteneur principal */
.container {
  padding: 10px;
  background-color: transparent !important;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.recherche{
  margin-top:20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

label {
  font-weight: bold;
  color: #333;
  display: block;
  text-transform: uppercase;
}

.full-width {
  height: 10%;
  width: 40%;
  text-align: center;
}

.boutons{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.boutons button {
  border-radius: 5px;
  background-color: #3FAAD8;
  color: white;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boutons button:hover {
  background-color: #3598c1;
}

/* Tableau */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
}

/* En-têtes du tableau */
.table th {
  background-color: #3FAAD8;
  color: white;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* Cellules du tableau */
.table td {
  background-color: #fff;
  padding: 12px 15px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

/* Ligne survolée */
.table tr:hover {
  background-color: #f1f1f1;
}

/* Bordure de la table */
.table {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

/* Bordure sur chaque cellule */
.table td, .table th {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* Suppression de la bordure sur la première colonne et ligne */
.table th:first-child, .table td:first-child {
  border-left: none;
}

/* Suppression de la bordure sur la dernière ligne */
.table tr:last-child td {
  border-bottom: none;
}

.modifier{
  color: #1976d2;
}
.disabled-button:disabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed !important;
  opacity: 0.6;
}
.message-attention, .message-vide {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
}

.message-attention {
  color: #ffffff;
  font-size: 23px;
}
