<div *ngIf="vehicules && vehicules.length > 0" class="container">
  <div class="filter-container">
    <input matInput type="text" [(ngModel)]="filterTerm" (input)="filterVehicules()" placeholder="Rechercher" />
  </div>

  <div *ngIf="filtrevehicules.length > 0" class="container">
    <table class="table">
      <thead>
      <tr>
        <th>Staus</th>
        <th>Immatriculation</th>
        <th>Modèle</th>
        <th>Commentaire</th>
        <th>Carburant</th>
        <th>Sortie</th>
        <th>Début de location</th>
        <th>Fin de location</th>
        <th>Modifier</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vehicule of filtrevehicules; let i = index">
        <td *ngIf="vehicule.parc" style="background-color: green; color: white; font-weight: bolder">Présent</td>
        <td *ngIf="!vehicule.parc" style="background-color: red; color: white; font-weight: bolder">Absent</td>
        <td>{{ vehicule.immatriculation }}</td>
        <td>{{ vehicule.modele }}</td>
        <td>{{ vehicule.commentaire }}</td>
        <td>{{getTotalCarburant(vehicule.carburants)}} Litres</td>
        <td [ngClass]="{'disponible': vehicule.sortie, 'non-disponible': !vehicule.sortie}">
          {{ vehicule.sortie ? 'Oui':'Non'  }}
        </td>
        <td>{{ vehicule.debut_location  | date: 'dd/MM/yyyy' }}</td>
        <td>{{ vehicule.fin_location  | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button mat-icon-button (click)="modifier(vehicule)">
            <img src="../../../assets/edit.png" alt="modifier">
          </button>
        </td>
      </tr>
      </tbody>
    </table>
</div>
</div>

<div *ngIf="filtrevehicules.length==0">
  <p class="non-vehicule"> {{message}}</p>
</div>
