<div class="container">
  <div class="filter-container">
    <input matInput type="text" [(ngModel)]="filterTerm" (input)="filterVehicules()" placeholder="Rechercher" />
  </div>

  <div  *ngIf="filtrevehicules && filtrevehicules.length > 0" class="container">
    <table class="table">
      <thead>
      <tr>
        <th>Numéro</th>
        <th>Immatriculation </th>
        <th>Modèle</th>
        <th>Commentaire</th>
        <th>Carburant</th>
        <th>Sortie</th>
        <th>Modifier</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vehicule of filtrevehicules; let i = index">
        <td>{{i+1}}</td>
        <td>{{ vehicule.immatriculation }}</td>
        <td>{{ vehicule.modele }}</td>
        <td>{{ vehicule.commentaire }}</td>
        <td>{{getTotalCarburant(vehicule.carburants)}} Litres</td>
        <td [ngClass]="{'disponible': vehicule.sortie, 'non-disponible': !vehicule.sortie}">
          {{ vehicule.sortie ? 'Oui':'Non'  }}
        </td>
        <td>
          <button mat-icon-button (click)="modifier(vehicule)">
            <img src="../../../assets/edit.png" alt="modifier">
          </button>
        </td>
      </tr>
      </tbody>
    </table>
</div>
</div>

<div *ngIf="filtrevehicules.length==0">
  <p class="non-vehicule"> {{message || "Erreur de connection avec le serveur !"}}</p>
</div>

