<div class="recherche">

  <div class="input">
      <label for="debut">Début</label>
      <input id="debut" type="date" [(ngModel)]="debut" name="debut">

      <label for="fin">Fin</label>
      <input id="fin" type="date" [(ngModel)]="fin" name="fin">
  </div>

  <div class="boutons">
    <button mat-flat-button (click)="rechercherVehiculeDateEnregistrement(debut,fin)">
      <mat-icon>search</mat-icon><span>RECHERCHER</span>
    </button>
  </div>

</div>
<div class="container">
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Immatriculation" #input>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> Numéro </th>
      <td mat-cell *matCellDef="let i =index"> {{i +1}} </td>
    </ng-container>

    <ng-container matColumnDef="immatriculation">
      <th mat-header-cell *matHeaderCellDef> Immatriculation </th>
      <td mat-cell *matCellDef="let vehicule"> {{vehicule.immatriculation}} </td>
    </ng-container>

    <ng-container matColumnDef="modele">
      <th mat-header-cell *matHeaderCellDef> modèle </th>
      <td mat-cell *matCellDef="let vehicule"> {{vehicule.modele}} </td>
    </ng-container>

    <ng-container matColumnDef="commentaire">
      <th mat-header-cell *matHeaderCellDef> commentaire </th>
      <td mat-cell *matCellDef="let vehicule"> {{vehicule.commentaire}} </td>
    </ng-container>

    <ng-container matColumnDef="sortie">
      <th mat-header-cell *matHeaderCellDef > Sortie </th>
      <td  mat-cell *matCellDef="let vehicule" [ngClass]="{'disponible': vehicule.sortie, 'non-disponible': !vehicule.sortie}">{{ vehicule.sortie ? 'Oui':'Non'  }}</td>
    </ng-container>


    <ng-container matColumnDef="modifier">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let vehicule">
        <button mat-icon-button (click)="modifier(vehicule)"><img ngSrc="assets/edit.png" alt="" height="24" width="24"></button>
        <button mat-icon-button color="warn" (click)="supprimer(vehicule)"><img ngSrc="assets/delete.png" alt="Supprimer" width="24" height="24" /></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [colSpan]="displayedColumns.length">Pas de résultat pour "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5,10,20,100]" showFirstLastButtons ></mat-paginator>

</div>



