<div class="filter-container">
  <input matInput type="text" [(ngModel)]="filterTerm" (input)="filterAffectations()" placeholder="Filtrer par nom, téléphone ou immatriculation"  />
</div>
<div *ngIf="affectationsFiltre && affectationsFiltre.length > 0" class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Numéro</th>
      <th>Chauffeur</th>
      <th>Téléphone</th>
      <th>Véhicule</th>
      <th>Carburant / Litres</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let affectation of affectationsFiltre; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ affectation.chauffeur.nom_complet }}</td>
      <td>{{ affectation.chauffeur.telephone }}</td>
      <td>{{ affectation.vehicule.immatriculation }}</td>
      <td>{{ affectation.vehicule.carburants }}</td>
      <td>
        <button mat-icon-button (click)="edit(affectation.id)">
          <mat-icon class="modifier">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(affectation.id)">
          <mat-icon class="supprimer">delete</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="affectationsFiltre && affectationsFiltre.length === 0">
  <p>Aucune affectation trouvé</p>
</div>
