<div class="filter-container">
  <input matInput type="text" [(ngModel)]="filterTerm" (input)="filterAffectations()" placeholder="Filtrer par nom, téléphone ou immatriculation"  />
</div>
<div *ngIf="affectationsFiltre && affectationsFiltre.length > 0" class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Numéro</th>
      <th>Chauffeur</th>
      <th>Téléphone</th>
      <th>Véhicule</th>
      <th>Carburant</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let affectation of affectationsFiltre; let i = index">

      <td>
        <button mat-icon-button (click)="modifier(affectation.id)">
          <mat-icon class="modifier">edit</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="affectationsFiltre && affectationsFiltre.length === 0">
  <p class="non-disponible">{{message}}</p>
</div>
