<div class="filter-container">
  <input matInput type="text" [(ngModel)]="filterTerm" (input)="filterChauffeurs()" placeholder="Filtrer par nom, permis, téléphone ou date d'enregistrement"  />
</div>

<div *ngIf="filteredChauffeurs.length === 0">
  <p class="non-disponible">{{ message }}</p>
</div>

<div *ngIf="filteredChauffeurs.length > 0" class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Numéro</th>
      <th>Nom Complet</th>
      <th>Permis</th>
      <th>Téléphone</th>
      <th>Date</th>
      <th>Modifier</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let chauffeur of filteredChauffeurs; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ chauffeur.nom_complet }}</td>
      <td>{{ chauffeur.permis }}</td>
      <td>{{ chauffeur.telephone }}</td>
      <td>{{ chauffeur.date }}</td>
      <td>
        <button mat-icon-button (click)="edit(chauffeur)">
          <mat-icon class="modifier">edit</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

