<div class="filter-container">
  <input matInput type="text" [(ngModel)]="filterTerm" (input)="filterCarburants()" placeholder="Filtrer par véhicule" />
</div>

<div *ngIf="carburantsFiltre.length ===0" class="message-container">
  {{ message }}
</div>

<div *ngIf="carburantsFiltre && carburantsFiltre.length > 0" class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Numéro</th>
      <th>Véhicule</th>
      <th>Date</th>
      <th>Carburant</th>
      <th>Modifier</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let carburant of carburantsFiltre; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ carburant.vehicule?.immatriculation }}</td>
      <td>{{ carburant.date  | date: 'dd/MM/yyyy' }}</td>
      <td>{{ carburant.approv }} Litres</td>
      <td>
        <button mat-icon-button (click)="modifier(carburant)">
          <img src="../../../assets/edit.png" alt="modifier">
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
