.container{
  margin-top: 2%;
  width: 98%;
  margin-left: 1%;
  flex-direction: column;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
}

.table th {
  background-color: #3FAAD8;
  color: white;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.table td {
  background-color: #fff;
  padding: 12px 15px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.table td, .table th {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.table th:first-child, .table td:first-child {
  border-left: none;
}

.table tr:last-child td {
  border-bottom: none;
}

.modifier{
  color: #1976d2;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}

input:focus {
  border-color: #1976d2;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.5);
  outline: none;
}

p{
  padding: 12px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}
.message-container {
  padding: 16%;
  font-size: 26px;
  color: white;
  text-align: center;
}

.no-data {
  text-align: center;
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
