<div class="container">
  <h2>Formulaire d'Approvisionnement</h2>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Sélectionner un véhicule</mat-label>
    <mat-select [(ngModel)]="vehicule">
      <mat-option *ngFor="let vehicule of vehicules" [value]="vehicule">
        {{ vehicule.immatriculation }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="input-group">
    <label for="approv">Quantité de carburant (en litres)</label>
    <input type="number" id="approv" [(ngModel)]="carburant.approv" placeholder="Saisir la quantité de carburant (litres)" class="input-large" required>
  </div>

  <div class="input-group">
    <label for="date">Date d'approvisionnement</label>
    <input type="date" id="date" [(ngModel)]="carburant.date"  class="input-large" required>
  </div>

  <button (click)="onSubmit()" [disabled]="!carburant.approv || !vehicule||!carburant.date">
    SOUMETTRE
  </button>
</div>
