<div class="container">
  <h2>Formulaire d'Approvisionnement</h2>

  <form [formGroup]="approvisionnementForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Sélectionner un véhicule</mat-label>
      <mat-select formControlName="vehicule">
        <mat-option *ngFor="let vehicule of vehicules" [value]="vehicule">
          {{ vehicule.immatriculation }} | {{vehicule.modele}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="input-group">
      <label for="approv">Quantité de carburant (en litres)</label>
      <input type="number" id="approv" formControlName="approv" placeholder="Saisir la quantité (litres)" class="input-large">
      <div *ngIf="approvisionnementForm.get('approv')?.invalid && approvisionnementForm.get('approv')?.touched">
        <small class="error-text">Veuillez entrer une quantité valide (supérieure à 0).</small>
      </div>
    </div>

    <div class="input-group">
      <label for="date">Date d'approvisionnement</label>
      <input type="date" id="date" formControlName="date" class="input-large">
      <div *ngIf="approvisionnementForm.get('date')?.hasError('min') && approvisionnementForm.get('date')?.touched">
        <small class="error-text">La date ne peut pas être antérieure au 01/01/2018.</small>
      </div>
    </div>

    <button type="submit" [disabled]="approvisionnementForm.invalid">
      SOUMETTRE
    </button>

  </form>
</div>
