.affectation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
}
.form-container {
  padding: 10px 5px;
  width: 47%;
}

.select-chauffeur {
  width: 100%;
  background-color: white;
}

.chauffeur-details {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 350px;
  background-color: #f4f7fc;
}

.affecter {
  margin-top: 20px;
  margin-left: 6%;
  background-color: #3faad8;
  color: white;
  border-radius: 0;
  width: 90%;
}
