.affectation {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 45%;
}
.select {
  text-align: center;
  width: 100%;

}
.details {
  margin-top: 10px;
  width: 100%;
  background-color: #f4f7fc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
mat-card-header {
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.affecter {
  margin: 20px 0 0 25%;
  width: 50%;
  background-color: #3faad8;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 5px;
}
.input {
  margin-top: 3.3%;
  margin-left: 25%;
  width: 50%;
  text-align: center;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: all 0.3s ease-in-out;
}
input:focus {
  outline: none;
}
.input-date{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  width: 40%;
  text-align: center;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: all 0.3s ease-in-out;
}
input:focus{
  border-color: #4295c6;
  box-shadow: 0 0 5px rgb(58, 160, 205);
  outline: none;
}
label {
  font-weight: bold;
  color: white;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}
