<div class="affectation">
  <div class="form-container">
    <mat-form-field appearance="fill" class="select">
      <label>Sélectionner un chauffeur</label>
      <mat-select [(value)]="selectedChauffeur" (selectionChange)="onChauffeurChange()">
        <mat-option *ngFor="let chauffeur of chauffeurs" [value]="chauffeur">
          {{ chauffeur.nom_complet }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card *ngIf="selectedChauffeur" class="details">
      <mat-card-header>
        <mat-card-title><strong>{{ selectedChauffeur.nom_complet }}</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <p><strong>Permis:</strong> {{ selectedChauffeur?.permis }}</p><br>

        <p><strong>Téléphone:</strong> {{ selectedChauffeur?.telephone }}</p><br>
        <p><strong>Date d'enregistrement:</strong> {{ selectedChauffeur?.date }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="form-container">
    <mat-form-field appearance="fill" class="select">
      <label>Sélectionner un vehicule</label>
      <mat-select [(value)]="selectedVehicule" (selectionChange)="onVehiculeChange()">
        <mat-option *ngFor="let vehicule of vehicules" [value]="vehicule">
          {{ vehicule.immatriculation }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card *ngIf="selectedVehicule" class="details">
      <mat-card-header>
        <mat-card-title><strong>{{ selectedVehicule.immatriculation }}</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Type:</strong> {{ selectedVehicule?.type }}</p>
        <p><strong>Date d'enregistrement:</strong> {{ selectedVehicule?.date }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<button  class="affecter" mat-raised-button color="primary" (click)="affecterChauffeur()">Affecter</button>
