.affectation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  width: 60%;
}

.select {
  width: 70%;
}

.details {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 350px;
  background-color: #f4f7fc;
}

.affecter {
  margin-top: 20px;
  margin-left: 6%;
  background-color: #3faad8;
  color: white;
  border-radius: 0;
  width: 90%;
}
mat-card-content{
font-size: 23px ;
}
mat-card-header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
mat-card-title{
  text-transform: capitalize;
  font-size: 25px ;
  display: flex;
  align-items: center;
  justify-content: center;
}
