<div class="container">
  <h2 class="titre">Modifier quantité de carburant</h2>
  <p class="vehicule">{{ carburant.vehicule.immatriculation }}</p>
  <form [formGroup]="approvForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="approv">Quantité de carburant (en litres)</label>
      <input type="number" id="approv" formControlName="approv" placeholder="Saisir la quantité de carburant (litres)" class="input-large" required>
    </div>

    <div class="buttons">
      <button type="submit" [disabled]="approvForm.invalid">SOUMETTRE</button>
      <button type="button" (click)="closeDialog()" class="annuler">Annuler</button>
    </div>
  </form>
</div>
