<mat-card-header>
  <h1 class="sous-titre">Pointage des véhicules</h1>
</mat-card-header>

<div class="chauffeur-buttons">
  <button mat-flat-button routerLink="/pointage/pointer">
    <span>Formulaire de pointage </span>
    <mat-icon>add</mat-icon>
  </button>
  <button mat-flat-button routerLink="/pointage/liste">
    <span>Liste des pointage</span>
    <mat-icon>list</mat-icon>
  </button>
  <button mat-flat-button routerLink="/pointage/imprimer">
    <span>Imprimer</span>
  </button>
</div>
<router-outlet></router-outlet>




