<div class="header">
  <div class="recherche">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Sélectionner un véhicule</mat-label>
      <mat-select [(ngModel)]="vehicule">
        <mat-option [value]="null">Aucun</mat-option>
        <mat-option *ngFor="let vehicule of vehicules" [value]="vehicule">
          {{ vehicule.immatriculation }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div class="input">
      <label for="debut">Début</label>
      <input id="debut" type="date" [(ngModel)]="debut" name="debut">

      <label for="fin">Fin</label>
      <input id="fin" type="date" [(ngModel)]="fin" name="fin">
    </div>

    <div class="boutons">
      <button mat-flat-button (click)="rechercher(vehicule,debut,fin)">
        <mat-icon>search</mat-icon><span>RECHERCHER</span>
      </button>
      <button mat-flat-button (click)="imprimer(vehicule,debut,fin)">
        <mat-icon>print</mat-icon><span>IMPRIMER</span>
      </button>
    </div>
  </div>

</div>
<div class="container" *ngIf="pointages.length > 0">
  <table mat-table [dataSource]="dataSource" class="table mat-elevation-z8" matSort>
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nunéro </th>
      <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="vehicule">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Véhicule </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicule.immatriculation}} </td>
    </ng-container>

    <ng-container matColumnDef="modele">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modèle </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicule.modele}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de pointage </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:"dd/MM/yyyy"}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="message" *ngIf="pointages.length === 0 && message">
  <p>{{ message }}</p>
</div>
