<mat-card-header>
  <h1 class="sous-titre">Gestion des chauffeurs</h1>
</mat-card-header>

<div class="buttons">
  <button mat-flat-button routerLink="/chauffeur/ajouter">
    <span>Nouveau chauffeur</span>
    <mat-icon>add</mat-icon>
  </button>
  <button mat-flat-button routerLink="/chauffeur/liste">
    <span>Liste des chauffeurs</span>
    <mat-icon>list</mat-icon>
  </button>
  <button mat-flat-button routerLink="/chauffeur/imprimer">
    <span>Recherche</span>
  </button>
</div>
<router-outlet></router-outlet>




