<div class="affectation">
  <div class="form-container">
    <mat-form-field appearance="fill" class="select">
      <mat-label>Sélectionner un chauffeur</mat-label>
      <mat-select [(value)]="selectedChauffeur">
        <mat-option *ngFor="let chauffeur of chauffeurs" [value]="chauffeur">
          {{ chauffeur.nom_complet }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card *ngIf="selectedChauffeur" class="details">
      <mat-card-header>
        <mat-card-title>{{ selectedChauffeur.nom_complet }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Permis:</strong> {{ selectedChauffeur.permis }}</p>
        <p><strong>Téléphone:</strong> {{ selectedChauffeur.telephone }}</p>
        <p><strong>Date d'enregistrement:</strong> {{ selectedChauffeur.date }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="form-container">
    <mat-form-field appearance="fill" class="select">
      <mat-label>Sélectionner un véhicule</mat-label>
      <mat-select [(value)]="selectedVehicule">
        <mat-option *ngFor="let vehicule of vehicules" [value]="vehicule">
          {{ vehicule.immatriculation }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card *ngIf="selectedVehicule" class="details">
      <mat-card-header>
        <mat-card-title>{{ selectedVehicule.immatriculation }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Modèle:</strong> {{ selectedVehicule.modele }}</p>
        <p><strong>Date d'enregistrement:</strong> {{ selectedVehicule.date  | date: 'dd/MM/yyyy' }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="buttons">
  <button class="affecter" mat-raised-button color="primary" (click)="modifierAffectation()">Modifier</button>
  <button class="annuler" mat-raised-button color="primary" (click)="annuler()">Annuler</button>
</div>
