<mat-card-header>
  <h1 class="sous-titre">Pointage des chauffeurs</h1>
</mat-card-header>

<div class="buttons">
  <button mat-flat-button routerLink="/pointage-chauffeur/pointer">
    <span>Formulaire de pointage </span>

  </button>
  <button mat-flat-button routerLink="/pointage-chauffeur/liste">
    <span>Liste des pointages</span>

  </button>
  <button mat-flat-button routerLink="/pointage-chauffeur/imprimer">
    <span>Recherche</span>

  </button>
</div>
<router-outlet></router-outlet>
