<div class="recherche">

  <div class="input">
    <label for="debut">Début</label>
    <input id="debut" type="date" [(ngModel)]="debut" name="debut">

    <label for="fin">Fin</label>
    <input id="fin" type="date" [(ngModel)]="fin" name="fin">
  </div>

  <div class="boutons">
    <button
      mat-flat-button
      (click)="rechercher(debut, fin)"
      [disabled]="!debut || !fin"
      [color]="debut && fin ? 'primary' : 'warn'">
      <mat-icon>search</mat-icon><span>RECHERCHER</span>
    </button>

    <button
      mat-flat-button
      (click)="imprimer(debut, fin)"
      [disabled]="!debut || !fin"
      [color]="debut && fin ? 'accent' : 'warn'">
      <mat-icon>print</mat-icon><span>IMPRIMER</span>
    </button>
  </div>


</div>
<div *ngIf="chauffeurs && chauffeurs.length > 0" class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Numéro</th>
            <th>Nom Complet</th>
            <th>Permis</th>
            <th>Téléphone</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let chauffeur of chauffeurs; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ chauffeur.nom_complet }}</td>
            <td>{{ chauffeur.permis }}</td>
            <td>{{ chauffeur.telephone }}</td>
            <td>{{ chauffeur.date }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div *ngIf="chauffeurs && chauffeurs.length === 0">
    <p>Aucun chauffeur trouvé</p>
</div>
