<div class="recherche">
    <input type="date" [(ngModel)]="date">
    <div class="boutons">
        <button mat-flat-button (click)="rechercher(date)">
            <mat-icon>search</mat-icon><span>RECHERCHER</span>
        </button>
        <button mat-flat-button (click)="imprimer(date)">
            <mat-icon>print</mat-icon><span>IMPRIMER</span>
        </button>
    </div>
</div>
<div *ngIf="presences && presences.length > 0" class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Numéro</th>
            <th>Nom Complet</th>
            <th>Permis</th>
            <th>Téléphone</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let presence of presences; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ presence.chauffeur.nom_complet }}</td>
            <td>{{ presence.chauffeur.permis }}</td>
            <td>{{ presence.chauffeur.telephone }}</td>
            <td>{{ presence.date }}</td>
            <td>
                <button mat-icon-button  (click)="edit(presence.id)">
                    <mat-icon class="modifier">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delete(presence.id)">
                    <mat-icon class="supprimer">delete</mat-icon>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div *ngIf="presences && presences.length === 0">
    <p>Aucun chauffeur trouvé</p>
</div>
