<div class="container">
<input matInput type="text" placeholder="Rechercher par date ou immatriculation" [(ngModel)]="value">

<table mat-table [dataSource]="filteredData" class="mat-elevation-z8">

  <!-- Immatriculation Column -->
  <ng-container matColumnDef="immatricule">
    <th mat-header-cell *matHeaderCellDef> Immatriculation </th>
    <td mat-cell *matCellDef="let car"> {{ car.immatricule }} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let car"> {{ car.date }} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let car">
      <button mat-icon-button (click)="editVehicule(car)">
        <mat-icon class="modifier">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteVehicule(car)">
        <mat-icon class="supprimer">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
