<mat-drawer-container class="container">

  <mat-drawer #drawer mode="side" class="drawer" opened>
    <button mat-stroked-button>
      <mat-icon>
        dashboard_2
      </mat-icon>
      <span>DASHBOARD</span>
    </button>
  </mat-drawer>

 <div class="main">
   <mat-card-header class="header">
     <button mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
       <h1 class="titre">{{titre}}</h1>
   </mat-card-header>

   <mat-card-content class="content">

   </mat-card-content>

 </div>

</mat-drawer-container>
