<mat-drawer-container class="container">
  <mat-drawer #drawer mode="side" class="drawer" opened>
    <img src="../assets/logo.png" alt="logo" height="260" width="260">
    <div class="buttons-container">
      <button mat-stroked-button routerLink="/vehicule" routerLinkActive="active-button">
        <mat-icon>directions_car</mat-icon>
        <span>Véhicule</span>
      </button>
      <button mat-stroked-button routerLink="/pointage" routerLinkActive="active-button">
        <mat-icon>checkbook</mat-icon>
        <span>Pointage</span>
      </button>
      <button mat-stroked-button routerLink="/carburant" routerLinkActive="active-button">
        <mat-icon>local_gas_station</mat-icon>
        <span>Carburant</span>
      </button>
      <button mat-stroked-button routerLink="/chauffeur" routerLinkActive="active-button">
        <mat-icon>person</mat-icon>
        <span>Chauffeur</span>
      </button>
      <button mat-stroked-button routerLink="/affectation" routerLinkActive="active-button">
        <mat-icon>add_link</mat-icon>
        <span>Affectation</span>
      </button>
      <button mat-stroked-button routerLink="/sortie" routerLinkActive="active-button">
        <mat-icon>output</mat-icon>
        <span>Sortie</span>
      </button>

    </div>
  </mat-drawer>


  <mat-card-header class="header">
    <button mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="titre">{{titre}}</h1>
  </mat-card-header>


  <router-outlet></router-outlet>
</mat-drawer-container>
