<div class="container">
  <h2>FICHE DE SORTIE</h2>
  <form [formGroup]="sortieForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="select">
      <mat-label> Sélectionner une affectation</mat-label>
      <mat-select formControlName="affectation">
        <mat-option *ngFor="let affectation of affectations" [value]="affectation">
          Nom de l'affectation : {{ affectation.nom_affectation }} <br>
          La dernière sortie :
          <ng-container *ngIf="derniereSortie">
            {{ derniereSortie.date_debut | date:'dd/MM/yyyy HH:mm' }} - {{ derniereSortie.date_fin | date:'dd/MM/yyyy HH:mm' }}
          </ng-container>
          <ng-container *ngIf="!derniereSortie">
            Pas de sortie récente
          </ng-container>

        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Objet de la sortie -->
    <div class="input-group">
      <label for="objet">Objet</label>
      <input id="objet" type="text" placeholder="Saisir l'objet de la sortie" formControlName="objet" class="input-large">
    </div>

    <!-- Lieu de départ -->
    <div class="input-group">
      <label for="lieu_depart">Lieu de Départ</label>
      <input id="lieu_depart" type="text" placeholder="Saisir le lieu de départ" formControlName="lieu_depart" class="input-large">
    </div>

    <!-- Destination -->
    <div class="input-group">
      <label for="destination">Destination</label>
      <input id="destination" type="text" placeholder="Saisir la destination" formControlName="destination" class="input-large">
    </div>
    
    <button  [disabled]="sortieForm.invalid">SOUMETTRE</button>
  </form>
</div>
