<div class="container">
  <h2>Formulaire de Sortie</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="sortieForm">
    <mat-form-field>
      <mat-label>L'affectation concernée</mat-label>
      <mat-select>
        @for (affectation of affectations; track affectation.nom) {
          <mat-option [value]="affectation.chauffeur">{{affectation.chauffeur}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div>
      <label for="objet">Objet</label>
      <input id="objet" formControlName="objet" type="text" required />
      <div *ngIf="sortieForm.get('objet')?.invalid && sortieForm.get('objet')?.touched" class="error">
        Objet est requis.
      </div>
    </div>

    <div>
      <label for="depart">Départ</label>
      <input id="depart" formControlName="depart" type="date" />
    </div>

    <div>
      <label for="arrivee">Arrivée</label>
      <input id="arrivee" formControlName="arrivee" type="date" />
    </div>



    <div>
      <label for="destination">Destination</label>
      <input id="destination" formControlName="destination" type="text" required />
      <div *ngIf="sortieForm.get('destination')?.invalid && sortieForm.get('destination')?.touched" class="error">
        Destination est requis.
      </div>
    </div>

    <div>
      <label for="duree">Durée</label>
      <input id="duree" formControlName="duree" type="number" />
    </div>



    <button type="submit" [disabled]="sortieForm.invalid">Soumettre</button>
  </form>
</div>
