<mat-card-header>
  <h1 class="sous-titre">Gestion des approvisionnements en carburant</h1>
</mat-card-header>

<div class="buttons">

  <button mat-flat-button routerLink="/carburant/ajouter">
    <span>Apprivionner</span>
    <mat-icon>add</mat-icon>
  </button>

  <button mat-flat-button routerLink="/carburant/liste">
    <span>Liste globale</span>
    <mat-icon>list</mat-icon>
  </button>

  <button mat-flat-button routerLink="/carburant/imprimer">
    <span>Rechercher</span>
    <mat-icon>directions_car</mat-icon>
  </button>

</div>
<router-outlet></router-outlet>
