<form [formGroup]="vehiculeForm" (ngSubmit)="saveChanges()">
  <div class="form-container">
    <h2 class="titre">Modifier Véhicule</h2>
    <div class="form-row">
      <div class="form-group">
        <label for="immatriculation">Immatriculation</label>
        <input type="text" id="immatriculation" formControlName="immatriculation" (input)="formattage(event)"  maxlength="10"/>
        <div *ngIf="vehiculeForm.get('immatriculation')?.invalid && submitted" class="error">
          Immatriculation requise
        </div>
      </div>
      <div class="form-group">
        <label for="modele">Modèle</label>
        <input type="text" id="modele" formControlName="modele" />
        <div *ngIf="vehiculeForm.get('modele')?.invalid && submitted" class="error">
          Modèle requis
        </div>
      </div>
    </div>

    <!-- Commentaire -->
    <div class="form-group">
      <label for="commentaire">Commentaire</label>
      <input type="text" id="commentaire" formControlName="commentaire" />
      <div *ngIf="vehiculeForm.get('commentaire')?.invalid && submitted" class="error">
        Fin de location requise
      </div>
    </div>

    <div class="buttons">
      <button type="submit" [disabled]="vehiculeForm.invalid">Enregistrer</button>
      <button class="annuler" type="button" (click)="close()">Annuler</button>
    </div>
  </div>
</form>
