<div class="recherche">

  <div class="input">
      <label for="debut">Début</label>
      <input id="debut" type="date" [(ngModel)]="debut" name="debut">

      <label for="fin">Fin</label>
      <input id="fin" type="date" [(ngModel)]="fin" name="fin">
  </div>

  <div class="boutons">
    <button mat-flat-button (click)="rechercherVehiculeDateEnregistrement(debut,fin)">
      <mat-icon>search</mat-icon><span>RECHERCHER</span>
    </button>
  </div>

</div>

<div *ngIf="filtrevehicules.length > 0" class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Numéro</th>
      <th>Immatriculation </th>
      <th>Modèle</th>
      <th>Commentaire</th>
      <th>Carburant</th>
      <th>Sortie</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vehicule of filtrevehicules; let i = index">
      <td>{{i+1}}</td>
      <td>{{ vehicule.immatriculation }}</td>
      <td>{{ vehicule.modele }}</td>
      <td>{{ vehicule.commentaire }}</td>
      <td>{{getTotalCarburant(vehicule.carburants)}} Litres</td>
      <td [ngClass]="{'disponible': vehicule.sortie, 'non-disponible': !vehicule.sortie}">
        {{ vehicule.sortie ? 'Oui':'Non'  }}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="filtrevehicules.length==0">
  <p class="non-vehicule"> {{message}}</p>
</div>
