<div class="recherche">

  <div class="input">
      <label for="debut">Début</label>
      <input id="debut" type="date" [(ngModel)]="debut" name="debut">

      <label for="fin">Fin</label>
      <input id="fin" type="date" [(ngModel)]="fin" name="fin">
  </div>

  <div class="boutons">
    <button mat-flat-button (click)="rechercherVehiculeDateEnregistrement(debut,fin)">
      <mat-icon>search</mat-icon><span>RECHERCHER</span>
    </button>
  </div>

</div>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="numero">
    <th mat-header-cell *matHeaderCellDef > Numéro </th>
    <td mat-cell *matCellDef="let i = index"> {{i +1}} </td>
  </ng-container>

  <ng-container matColumnDef="immatriculation">
    <th mat-header-cell *matHeaderCellDef > Immatriculation </th>
    <td mat-cell *matCellDef="let vehicule"> {{vehicule.immatriculation}} </td>
  </ng-container>

  <ng-container matColumnDef="modele">
    <th mat-header-cell *matHeaderCellDef > Modèle </th>
    <td mat-cell *matCellDef="let vehicule"> {{vehicule.modele}} </td>
  </ng-container>

  <ng-container matColumnDef="commentaire">
    <th mat-header-cell *matHeaderCellDef > Commentaire </th>
    <td mat-cell *matCellDef="let vehicule"> {{vehicule.commentaire}} </td>
  </ng-container>

  <ng-container matColumnDef="carburant">
    <th mat-header-cell *matHeaderCellDef > Carburant </th>
    <td mat-cell *matCellDef="let vehicule"> {{vehicule.carburant}} </td>
  </ng-container>

  <ng-container matColumnDef="sortie">
    <th mat-header-cell *matHeaderCellDef > Sortie </th>
    <td  mat-cell *matCellDef="let vehicule" [ngClass]="{'disponible': vehicule.sortie, 'non-disponible': !vehicule.sortie}">{{ vehicule.sortie ? 'Oui':'Non'  }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator showFirstLastButtons [pageSizeOptions]="[5,10,20,100]"></mat-paginator>

