<form *ngIf="sortieForm" [formGroup]="sortieForm" (ngSubmit)="onSubmit()">
  <div class="mat-form-field-container">
    <mat-form-field appearance="fill" class="select">
      <mat-label>Sélectionner une affectation</mat-label>
      <mat-select formControlName="affectation">
        <mat-option *ngFor="let affectation of affectations" [value]="affectation">
          Immatriculation : {{ affectation.vehicule?.immatriculation }} <br>
          Chauffeur : {{affectation.chauffeur?.nom_complet}}<br>
          Téléphone : {{affectation.chauffeur?.telephone}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="sortieForm.get('affectation')?.hasError('required')">Ce champ est requis.</mat-error>
  </div>

  <div class="input-group" *ngFor="let field of ['objet', 'lieu_depart', 'destination', 'date_debut', 'date_fin']">
    <label [for]="field">{{ field==='date_debut' ?'Date de debut' : field === 'lieu_depart' ? 'Lieu de départ' : field === 'date_fin' ? 'Date de fin' : field | titlecase }}</label>
    <input [id]="field" [type]="field.includes('date') ? 'datetime-local' : 'text'"
           [placeholder]="'Saisir ' + (field === 'lieu_depart' ? 'Lieu de départ' : field === 'date_fin' ? 'Date de fin' : field | titlecase)"
           formControlName="{{ field }}" class="input-large">
    <mat-error *ngIf="sortieForm.get(field)?.hasError('required')">Ce champ est requis.</mat-error>
  </div>

  <div class="boutons">
    <button [disabled]="sortieForm.invalid" class="soumettre">SOUMETTRE</button>
    <button type="button" (click)="annuler()" class="annuler">Annuler</button>
  </div>
  <button class="terminer" type="button" (click)="terminer()">Terminer la sortie</button>
</form>
