<form *ngIf="sortieForm" [formGroup]="sortieForm" (ngSubmit)="onSubmit()">

  <div class="select">
    {{ data.sortie?.affectation?.vehicule.immatriculation }} |
    {{ data.sortie?.affectation?.chauffeur.nom_complet }}
  </div>

  <div class="input-group">
    <label for="objet">Objet</label>
    <input
      id="objet"
      type="text"
      placeholder="Saisir Objet"
      formControlName="objet"
      class="input-large"
    />
    <mat-error *ngIf="sortieForm.get('objet')?.hasError('required')">
      Ce champ est requis.
    </mat-error>
  </div>

  <div class="input-group">
    <label for="lieu_depart">Lieu de départ</label>
    <input
      id="lieu_depart"
      type="text"
      placeholder="Saisir Lieu de départ"
      formControlName="lieu_depart"
      class="input-large"
    />
    <mat-error *ngIf="sortieForm.get('lieu_depart')?.hasError('required')">
      Ce champ est requis.
    </mat-error>
  </div>

  <div class="input-group">
    <label for="destination">Destination</label>
    <input
      id="destination"
      type="text"
      placeholder="Saisir Destination"
      formControlName="destination"
      class="input-large"
    />
    <mat-error *ngIf="sortieForm.get('destination')?.hasError('required')">
      Ce champ est requis.
    </mat-error>
  </div>

  <div class="input-group">
    <label for="date_debut">Date de début</label>
    <input
      id="date_debut"
      type="datetime-local"
      placeholder="Saisir Date de début"
      formControlName="date_debut"
      class="input-large"
      readonly
    />
  </div>

  <div class="input-group">
    <label for="date_fin">Date de fin</label>
    <input
      id="date_fin"
      type="datetime-local"
      placeholder="Saisir Date de fin"
      formControlName="date_fin"
      class="input-large"
    />
    <mat-error *ngIf="sortieForm.get('date_fin')?.hasError('required')">
      Ce champ est requis.
    </mat-error>
  </div>

  <div class="boutons">
    <button class="soumettre">SOUMETTRE</button>
    <button type="button" (click)="annuler()" class="annuler">Annuler</button>
  </div>

  <button class="terminer" type="button" (click)="terminer()">
    Terminer la sortie
  </button>

</form>
