<form *ngIf="sortieForm" [formGroup]="sortieForm" (ngSubmit)="onSubmit()">
  <div class="mat-form-field-container">
    <mat-form-field appearance="fill" class="select">
      <mat-label>Sélectionner une affectation</mat-label>
      <mat-select formControlName="affectation">
        <mat-option *ngFor="let affectation of affectations" [value]="affectation">
          Nom de l'affectation : {{ affectation.nom_affectation }} <br>
          L'intervalle de location : {{ affectation.vehicule?.debut_location | date:'dd/MM/yyyy' }} - {{ affectation.vehicule?.fin_location | date:'dd/MM/yyyy' }} <br>
          La dernière sortie :
          <ng-container *ngIf="derniereSortie">
            {{ derniereSortie.date_debut | date:'dd/MM/yyyy HH:mm' }} - {{ derniereSortie.date_fin | date:'dd/MM/yyyy HH:mm' }}
          </ng-container>
          <ng-container *ngIf="!derniereSortie">
            Pas de sortie récente
          </ng-container>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="sortieForm.get('affectation')?.hasError('required')">Ce champ est requis.</mat-error>
  </div>

  <div class="input-group" *ngFor="let field of ['objet', 'lieu_depart', 'destination', 'date_debut', 'date_fin']">
    <label [for]="field">{{ field | titlecase }}</label>
    <input [id]="field" [type]="field.includes('date') ? 'datetime-local' : 'text'"
           [placeholder]="'Saisir ' + (field | titlecase)" formControlName="{{ field }}" class="input-large">
    <mat-error *ngIf="sortieForm.get(field)?.hasError('required')">Ce champ est requis.</mat-error>
  </div>

  <div class="boutons">
    <button [disabled]="sortieForm.invalid" class="soumettre">SOUMETTRE</button>
    <button type="button" (click)="annuler()" class="annuler">Annuler</button>
  </div>
  <button class="terminer" type="button" (click)="terminer()">Terminer la sortie</button>
</form>
