<table *ngIf="vehicules && vehicules.length > 0" class="table">
  <thead>
  <tr>
    <th>Véhicule</th>
    <th>Modèle</th>
    <th>Pointer</th>
    <th>Soumettre</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let vehicule of vehicules; let i = index">
    <td>{{ vehicule.immatriculation }}</td>
    <td>{{ vehicule.modele }}</td>
    <td>
      <input type="checkbox" [(ngModel)]="vehicule.cocher" (ngModelChange)="resetDate(vehicule)">
      <input type="date" [(ngModel)]="date" *ngIf="vehicule.cocher">
    </td>
    <td>
      <button mat-flat-button (click)="submit(vehicule)" class="submit" [disabled]="!vehicule.cocher">
        Pointer
      </button>
    </td>
  </tr>

  </tbody>
</table>
