<div class="recherche">
  <input type="date" [(ngModel)]="date">
  <div class="boutons">
    <button mat-flat-button (click)="rechercher(date)">
      <mat-icon>search</mat-icon><span>RECHERCHER</span>
    </button>
    <button mat-flat-button (click)="imprimer(date)">
      <mat-icon>print</mat-icon><span>IMPRIMER</span>
    </button>
  </div>
</div>
<div *ngIf="affectations && affectations.length > 0" class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Numéro</th>
      <th>Chauffeur</th>
      <th>Téléphone</th>
      <th>Véhicule</th>
      <th>Carburant / Litres</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let affectation of affectations; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ affectation.chauffeur.nom_complet }}</td>
      <td>{{ affectation.chauffeur.telephone }}</td>
      <td>{{ affectation.vehicule.immatriculation }}</td>
      <td>{{ totalCarburant(affectation.vehicule.carburants) }}</td>
      <td>
        <button mat-icon-button (click)="edit(affectation.id)">
          <mat-icon class="modifier">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(affectation.id)">
          <mat-icon class="supprimer">delete</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="affectations && affectations.length===0">
  <p>Aucun enregistrement trouvé</p>
</div>
