.container{
  margin-top: 2%;
  width: 98%;
  margin-left: 1%;
  flex-direction: column;
}
.table {
  width: 98%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.table mat-header-cell {
  background-color: #3FAAD8;
  color: white;
  justify-content: center;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.table mat-cell {
  background-color: #fff;
  justify-content: center;
  padding: 12px 15px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

.table tr:hover {
  background-color: #f1f1f1;
}


.table mat-cell, .table mat-header-cell {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.table mat-header-cell:first-child, .table mat-cell:first-child {
  border-left: none;
}

.table tr:last-child mat-cell {
  border-bottom: none;
}
.submit{
  background-color: #2f8db8;
  border-radius: 0;
  color: white;
  width: 80%;
  height: 80%;
  padding: 2%;
}
button:disabled {
  background-color: black;
  opacity: 0.1;
}
input[type="date"] {
  text-align: center;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: all 0.3s ease-in-out;
  width:40%;
  margin-left: 30px;
}

input[type="date"]:hover {
  border-color: #3FAAD8;
}

input[type="date"]:focus {
  border-color: #3aa0cd;
  box-shadow: 0 0 5px rgb(58, 160, 205);
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(30%);
  cursor: pointer;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}

input:focus {
  border-color: #1976d2;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.5);
  outline: none;
}

