<div class="affectation">
  <div class="form-container">
    <mat-form-field appearance="fill" class="select-chauffeur">
      <label>Sélectionner un chauffeur</label>
      <mat-select [(value)]="selectedChauffeur" (selectionChange)="onChauffeurChange()">
        <mat-option *ngFor="let chauffeur of chauffeurs" [value]="chauffeur">
          {{ chauffeur.nom_complet }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card *ngIf="selectedChauffeur" class="chauffeur-details">
      <mat-card-header>
        <mat-card-title>{{ selectedChauffeur.nom_complet }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Permis:</strong> {{ selectedChauffeur?.permis }}</p>
        <p><strong>Téléphone:</strong> {{ selectedChauffeur?.telephone }}</p>
        <p><strong>Date d'enregistrement:</strong> {{ selectedChauffeur?.date }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="form-container">
    <mat-form-field appearance="fill" class="select-chauffeur">
      <label>Sélectionner un vehicule</label>
      <mat-select [(value)]="selectedChauffeur" (selectionChange)="onChauffeurChange()">
        <mat-option *ngFor="let chauffeur of chauffeurs" [value]="chauffeur">
          {{ chauffeur.nom_complet }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card *ngIf="selectedChauffeur" class="chauffeur-details">
      <mat-card-header>
        <mat-card-title>{{ selectedChauffeur.nom_complet }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Permis:</strong> {{ selectedChauffeur?.permis }}</p>
        <p><strong>Téléphone:</strong> {{ selectedChauffeur?.telephone }}</p>
        <p><strong>Date d'enregistrement:</strong> {{ selectedChauffeur?.date }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<button  class="affecter" mat-raised-button color="primary" (click)="affecterChauffeur()">Affecter</button>
