<div class="container">
  <table class="table">
    <thead>
    <tr *ngIf="sorties && sorties.length > 0">
      <th>Status</th>
      <th>Chauffeur</th>
      <th>Téléphone</th>
      <th>Véhicule</th>
      <th>Durée</th>
      <th>Objet</th>
      <th>Destination</th>
      <th>Lieu de départ</th>
      <th>Départ</th>
      <th>Arrivée</th>
      <th>Modifier</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sortie of sorties">
      <td *ngIf="sortie.status" style="background-color: green; color: white; font-weight: bolder">En cours</td>
      <td *ngIf="!sortie.status" style="background-color: red; color: white; font-weight: bolder">Terminée</td>
      <td>{{ sortie.affectation?.chauffeur?.nom_complet }}</td>
      <td>{{ sortie.affectation?.chauffeur?.telephone }}</td>
      <td>{{ sortie.affectation?.vehicule?.immatriculation }}</td>
      <td>{{ sortie.duree }} Heures</td>
      <td>{{ sortie.objet }}</td>
      <td>{{ sortie.destination }}</td>
      <td>{{ sortie.lieu_depart }}</td>
      <td>{{ sortie.date_debut | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ sortie.date_fin | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>
        <button mat-icon-button (click)="modifier(sortie)">
          <img src="../../../assets/edit.png" alt="modifier">
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="sorties && sorties.length === 0">
  <p>Aucune sortie effectuée</p>
</div>
