<div class="container">
  <table class="table" *ngIf="filtreSorties.length > 0">
    <thead>
    <tr>
      <th>Status</th>
      <th>Chauffeur</th>
      <th>Téléphone</th>
      <th>Véhicule</th>
      <th>Durée</th>
      <th>Objet</th>
      <th>Destination</th>
      <th>Lieu de départ</th>
      <th>Départ</th>
      <th>Arrivée</th>
      <th>Modifier</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sortie of filtreSorties">
      <td [ngStyle]="{'background-color': sortie.status ? 'green' : 'red', 'color': 'white', 'font-weight': 'bolder'}">
        {{ sortie.status ? 'En cours' : 'Terminée' }}
      </td>
      <td>{{ sortie?.affectation?.chauffeur?.nom_complet || 'N/A' }}</td>
      <td>{{ sortie?.affectation?.chauffeur?.telephone || 'N/A' }}</td>
      <td>{{ sortie?.affectation?.vehicule?.immatriculation || 'N/A' }}</td>
      <td>{{ sortie?.duree || 0 }} Heures</td>
      <td>{{ sortie?.objet || 'N/A' }}</td>
      <td>{{ sortie?.destination || 'N/A' }}</td>
      <td>{{ sortie?.lieu_depart || 'N/A' }}</td>
      <td>{{ sortie?.date_debut | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ sortie?.date_fin | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>
        <button mat-icon-button (click)="modifier(sortie)">
          <img src="../../../assets/edit.png" alt="modifier">
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="sorties.length === 0">
    <p>{{ message || "Aucune sortie disponible." }}</p>
  </div>
</div>
