<div class="container">
  <h2>Enregistrement véhicule</h2>
  <form #vehiculeForm="ngForm" (ngSubmit)="onSubmit()">

    <label for="immatriculation">Immatriculation</label>
    <input id="immatriculation" name="immatriculation" [(ngModel)]="vehicule.immatriculation" required />
    <div class="error" *ngIf="!vehicule.immatriculation && vehiculeForm.submitted">
      Immatriculation requise
    </div>

    <label for="modele">Modèle</label>
    <input id="modele" name="modele" [(ngModel)]="vehicule.modele" required />
    <div class="error" *ngIf="!vehicule.modele && vehiculeForm.submitted">
      Modèle requis
    </div>

    <label for="debut">Début de location</label>
    <input type="date" id="debut" name="debut" [(ngModel)]="vehicule.debut_location" required />
    <div class="error" *ngIf="!vehicule.debut_location && vehiculeForm.submitted">
      début de location réquis
    </div>
    <label for="fin">Fin de location</label>
    <input type="date" id="fin" name="fin" [(ngModel)]="vehicule.fin_location" required />
    <div class="error" *ngIf="!vehicule.fin_location && vehiculeForm.submitted">
      fin de location réquis
    </div>

    <label for="commentaire">Commentaire</label>
    <input id="commentaire" name="commentaire" [(ngModel)]="vehicule.commentaire" />

    <button type="submit" [disabled]="vehiculeForm.invalid">Soumettre</button>
  </form>
</div>
